body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: black;

}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.text {
  text-align: center;
}

.button {
  background: none;
  border: none;
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer{
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #FF862D
}

.header{
  color:#FF862D;
  border: 10px #FF862D solid;
  width: 100%;
  height: 110px;
  text-align: center;
}

.dash{
  background-color: black;
  color: #FF862D;
  margin-left: auto;
  margin-right: auto;
  overflow: none;
}